*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.flex-container{
    border: 2px solid;
    padding: 10px;
    gap: 10px;
    display: flex;
}
.flex-child{
    border: 2px solid;
    padding: 20px;
}
.child1{
    background-color: aqua;
    flex-basis: 100px;
}
.child2{
    background-color: aquamarine;
    flex-basis: 200px;
}
.child3{
    background-color: cadetblue;
    flex-basis: auto;
}